Source: sysvbanner
Section: misc
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.8.1.0

Package: sysvbanner
Architecture: any
Depends: ${shlibs:Depends}, bsdmainutils (>=3.3)
Conflicts: bsdmainutils (<< 3.3)
Description: System-V banner clone
 Displays a `banner' text the same way as the System V banner does: 
 horizontally.
